#verify{
    padding-bottom: 280px;
    background-image: url("/static/img/topview-mesa.jpg");
    background-size:cover;
    background-position:center;
}
#h_verify{
    height: 120px;
    line-height: 120px;
    background-color: rgb(145, 127, 92, 0.95);
    text-align: center;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
}
#t_verify{
    border-radius: 20px;
    background-color: rgba(129, 9, 0, 0.8);
    text-align: center;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .5px;
    width: fit-content;
    margin: 75px auto;
    padding: 15px;
    color: white;
    
}
.dados{
    color: rgb(249, 253, 0);
}
button{
    margin-top: 50px;
    background-color: rgb(90, 75, 46,0.7);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px 20px;
    cursor: pointer;
    transition: .3s;
}
button:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
button:active{
    background-color: rgb(90, 75, 46,0.9);
}
button:focus{
    background-color: green;
}
